<!DOCTYPE html>
<html>
  <head>
    <title>Actualizar Renta</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='stylesheet.css') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{{ url_for('static', filename='img/logo.png')}}"
            alt="logo"
            class="logo-bb"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"
                >Inicio
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('usuarios.usuarios_opciones') }}"
                >Usuarios</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="{{ url_for('peliculas.peliculas_opciones') }}"
                >Peliculas</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('rentas.rentas_opciones') }}"
                >Rentas</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="presentacion">
      <h1>Actualizar Renta id: {{renta.idRentar}}</h1>
      <h4>Realiza los cambios que desea realizar</h4>
    </div>
    <div class="formularioInsertar">
      <form action="{{url_for('rentas.actualizar_rentas')}}" method="post">
        <div class="row">
          <label for="staticEmail" class="col-sm-2 col-form-label">ID</label>
          <div class="col-sm-10">
            <input
              name="idRentar"
              type="text"
              readonly=""
              class="form-control-plaintext"
              id="staticEmail"
              value="{{ renta.idRentar }}"
            />
          </div>
        </div>
        <div class="form-check form-check-lg">
          <input
            class="form-check-input"
            type="checkbox"
            value="true"
            id="estatus"
            name="estatus"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Entregado
          </label>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-lg btn-primary largoBoton" type="submit">
            Actualizar
          </button>
        </div>
      </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="container mt-3 formularioInsertar">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} largoBoton formularioInsertar">
        {{ message }}
      </div>
      {% endfor %}
      <a href="{{ url_for('rentas.rentas_opciones') }}">
        <button class="btn btn-lg btn-primary largoBoton">Regresar</button>
      </a>
    </div>
    {% endif %} {% endwith %}
    <!-- Enlace a Bootstrap JS (Bootstrap 5) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-"
    ></script>
  </body>
</html>
